<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data android:name="auth0ClientId" android:value="${auth0ClientId}" />
        <meta-data android:name="auth0Scheme" android:value="${auth0Scheme}" />
        <meta-data android:name="auth0Domain" android:value="${auth0Domain}" />
        <meta-data android:name="auth0Scope" android:value="${auth0Scope}" />
        <meta-data android:name="auth0Audience" android:value="${auth0Audience}" />
        <meta-data android:name="auth0Organization" android:value="${auth0Organization}" />
        <activity
            android:name="com.auth0.android.provider.AuthenticationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />
        <activity
            android:name="com.auth0.android.provider.RedirectActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

<!--                must set applicationId in app build.gradle to be the same as auth0 console callback-->
<!--                it will not look up whatever you hardcode pathPrefix ${applicationId} here-->
                <data
                    android:host="${auth0Domain}"
                    android:pathPrefix="/android/${applicationId}/callback"
                    android:scheme="${auth0Scheme}" />
            </intent-filter>
        </activity>
    </application>
</manifest>